{% extends 'base.html' %}
{% block static %}
{% load static %}
<link rel="stylesheet" href='{ static "pages/index.css" }'>
{% endblock static %}
{% block content %}
<header class="header">
    <nav class="nav">
        <div class="nav__container container">
            <ul class="nav__items list">
                <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Рецепты</a></li>
                <li class="nav__item nav__item_disabled"><a href="#" class="nav__link link">Список покупок</a></li>
            </ul>
            <ul class="nav__items list">
                <li class="nav__item"><a href="#" class="nav__link link">Войти</a></li>
                <li class="nav__item"><a href="#" class="button button_style_blue">Создать аккаунт</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Сообщение пользователю</p>
        <div class="custom-button-block">
            <button class="button button_style_blue">Перейти на главную</button>
        </div>
    </div>


</main>
{% endblock content %}
{% include 'footer.html' %}

