{% extends 'base.html' %}

    {% block static %}
    {% load static %}
    <link rel="stylesheet" href='{% static "pages/index.css" %}'>
    {% endblock static %}
{% block content %}
  {% if user.is_authenticated %}
  {% include 'includes/nav_auth.html' %}
  {% else %}
  {% include 'includes/nav_not_auth.html' %}
  {% endif %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">{{author}}</h1>
            {% include 'includes/top_tags.html' %}

        </div>
        {% if request.user.id != author.id %}
        {% if not in_follow %}
        <div class="author-subscribe" data-author="{{author.id}}">
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Подписаться на автора</button></p>
        </div>
        {% else %}
        <div class="author-subscribe" data-author="{{author.id}}">
            <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Отписаться от автора</button></p>
        </div>

        {# У кнопок разные CSS классы, разные имена и другие разные параметры. Зачем выносить их в отдельный include? #}
        {# Это никак не оптимизирует код, и другие ревьюеры этого не требуют! При всем уважении, я не считаю что это стоит того #}

        {% endif %}
        {% endif %}
        <div class="card-list">
            {% for recipey in page %}
            {% include 'includes/recipe_card.html' with items=page paginator=paginator %}
            {% endfor %}
        </div>
       {% include 'includes/paginator.html' with items=page paginator=paginator %}
    </main>
    {% endblock content %}

{% block js %}
  <script src='{% static "js/components/MainCards.js" %}'></script>

  <script src='{% static "js/components/Purchases.js" %}'></script>
  <script src='{% static "js/components/Favorites.js" %}'></script>
  <script src='{% static "js/components/Subscribe.js" %}'></script>

  <script src='{% static "js/config/config.js" %}'></script>
  <script src='{% static "js/components/AuthorRecipe.js" %}'></script>
  <script src='{% static "js/components/Header.js" %}'></script>

  <script src='{% static "js/api/Api.js" %}'></script>
  <script src='{% static "authorRecipe.js" %}'></script>
{% endblock js %}
