{% extends 'base.html' %}
{% block title %}Создание/Редактирование рецепта{% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'pages/form.css' %}">
{% endblock static %}
{% block content %}
{% include 'includes/nav_auth.html' %}
<main class="main container">
    <div class="main__header">
        {% if 'edit' in request.path %}
        <h1 class="main__title">Редактирование рецепта</h1>
        {% else %}
        <h1 class="main__title">Создание рецепта</h1>
        {% endif %}
        {% if  valid == 'error' %}
        <span class="form__error">Ошибка в Форме :( </span>
        {% endif %}
    </div>
    <div class="form-container">
       {% include 'includes/form_fields.html' with form=form recipe=recipe %}
    </div>


</main>
{% endblock content %}
{% block js %}
<script src='{% static "js/config/config.js" %}'></script>
<script src='{% static "js/components/Header.js" %}'></script>
<script src='{% static "js/utils/debouncing.js" %}'></script>
<script src='{% static "js/api/Api.js" %}'></script>
<script src='{% static "formRecipe.js" %}'></script>
{% endblock js %}
