{% extends 'base.html' %}
{% block title %} {{recipe.name}} {% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href='{% static "pages/single.css" %}'>
{% endblock static %}
{% block content %}
{% csrf_token %}
{% include 'includes/nav.html' %}
    {% load thumbnail %}
    <main class="main container">
        <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ recipe.author.id }}">
            {% thumbnail recipe.image "480x480" crop="center" upscale=True as im %}
            <img src="{{ im.url }}" alt="{{ recipe.image }}" class="single-card__image">
            {% endthumbnail %}
            {% include 'includes/singel_page.html' with recipe=recipe in_favorite=in_favorite in_shop=in_shop
            in_follow=in_follow ingredients=ingredients %}
        </div>
    </main>
{% endblock content %}
{% block js %}
<script src='{% static "js/components/Purchases.js" %}'></script>
<script src='{% static "js/components/Favorites.js" %}'></script>
<script src='{% static "js/components/Subscribe.js" %}'></script>
<script src='{% static "js/config/config.js" %}'></script>

<script src='{% static "js/components/MainCards.js" %}'></script>
<script src='{% static "js/components/SingleCard.js" %}'></script>
<script src='{% static "js/components/Header.js" %}'></script>

<script src='{% static "js/api/Api.js" %}'></script>
<script src='{% static "singlePage.js" %}'></script>
{% endblock js %}
