{% extends 'base.html' %}
{% block title %} {{recipe.name}} {% endblock %}
{% block static %}
    {% load static %}
    <link rel="stylesheet" href='{% static "pages/single.css" %}'>
{% endblock static %}
{% block content %}
{% csrf_token %}
{% include 'includes/nav.html' %}
    <main class="main container">
            {% include 'includes/single_page.html' with recipe=recipe in_favorite=in_favorite in_shop=in_shop
            in_follow=in_follow ingredients=ingredients %}
    </main>
{% endblock content %}
{% block js %}
<script src='{% static "js/components/Purchases.js" %}'></script>
<script src='{% static "js/components/Favorites.js" %}'></script>
<script src='{% static "js/components/Subscribe.js" %}'></script>
<script src='{% static "js/config/config.js" %}'></script>

<script src='{% static "js/components/MainCards.js" %}'></script>
<script src='{% static "js/components/SingleCard.js" %}'></script>
<script src='{% static "js/components/Header.js" %}'></script>

<script src='{% static "js/api/Api.js" %}'></script>
<script src='{% static "singlePage.js" %}'></script>
{% endblock js %}
