{% load thumbnail %}
<li class="shopping-list__item" data-id="111">
     <div class="recipe recipe_reverse">
         {% thumbnail item.image "480x480" crop="center" upscale=True as im %}
         <img src="{{ im.url }}" alt="{{ item.image }}" class="recipe__image recipe__image_big">
         {% endthumbnail %}
         <h3 class="recipe__title">{{item}}</h3>
         <p class="recipe__text"><span class="icon-time"></span> {{ item.time }} мин.</p>
     </div>
     <a href="{% url 'purchases' item.id %}" class="shopping-list__button link">Удалить</a>
 </li>